.NextToFooter {
    display: grid;
    height: fit-content;
    padding: 100px 0px;
    background:  #EFEFFA;
  margin-top: 100px;
}



.NextToFooterInner {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.NextToFooter .NextToFooterInner .NextToFooterBox {
    width: 70%;
    justify-self: center;
}


.NextToFooterBox h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #6BABDE, #244B70);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 25px;
    margin-bottom: 10px;
}

.NextToFooterBoxIcon {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}





@media screen and (max-width:768px) {
    .NextToFooter {
        padding: 50px 0px;
        margin-top: 50px;
    }

    .NextToFooter .NextToFooterInner {
        grid-template-columns: 1fr;
    }

    .NextToFooter .NextToFooterInner .NextToFooterBox {
        width: 90%;
        justify-self: center;
        margin: 10px 0px;
    }



    .NextToFooterBox h4 {
        font-size: 28px;
    }
}



@media screen and (max-width: 538px) {
    .NextToFooterBox h4 {
        font-size: 23px;
    }
}