.SectionThree{
    display: grid;
margin-top: 100px;
    height: fit-content;

        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: repeat;
        background-color: #f8f8fcb7;
        padding: 100px 0px;
      border-radius: 0px 0px 100px 100px;
}

.SectionThreeIntro h3{
    background-image: linear-gradient(to left,#6BABDE, #244B70);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
   }


.SectionThreeInner{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
}

.SectionThree .SectionThreeInner .SectionThreeBox{
    width: 80%;
    justify-self: center;   
    text-align: center;
    margin: 20px 0px;
    border: 1px solid rgba(128, 128, 128, 0.123);
    padding: 20px 10px;
    border-radius: 10px;
}
.SectionThree .SectionThreeInner .SectionThreeBox img{
   height: 80px;
}
.SectionThreeBox h3{
 background-image: linear-gradient(to left,#6BABDE, #244B70);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}





@media screen and (max-width:1080px){

    
    .SectionThree .SectionThreeInner{
        grid-template-columns: 1fr 1fr;
    }


    
}


@media screen and (max-width:768px){
    .SectionThree{
      margin-top: 50px;
      padding:70px 0px;
    }
    
    .SectionThree .SectionThreeInner{
        grid-template-columns: 1fr;
    }

    .SectionThree .SectionThreeInner .SectionThreeBox{
        width: 80%;
        justify-self: center;
        margin: 10px 0px;
    }

    .SectionThree .SectionThreeInner .SectionThreeBox img{
        height: 70px;
     }
    
}



@media screen and (max-width: 538px){
    
  }