[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}








@media screen and (max-width: 768px){
  h3{
    font-size: 30px;
  }
  p{
    font-size: 15px;
  }
}

@media screen and (max-width: 538px){
  h3{
    font-size: 26px;
  }
}